.about-section {
  display: flex;
  flex-direction: column;
  padding: 0 300px 0 300px;
  align-items: center; }

.about-me-header {
  width: 85%;
  margin-bottom: 40px; }
  .about-me-header h2 {
    font-size: 40px;
    padding-right: 25px; }

.about-separator {
  display: flex;
  align-items: center;
  text-align: center; }

.about-separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #414040; }

.me-info {
  display: flex; }

.about-me {
  width: 500px; }
  .about-me p {
    line-height: 27px;
    font-size: 18px;
    color: #414040; }

.my-picture {
  margin-left: 30px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center; }

li .stack-icon {
  font-size: 20px;
  margin-right: 3px;
  color: #4d4d4d; }

.project-stack-group {
  display: flex;
  justify-content: flex-start;
  color: #414040; }
  .project-stack-group .project-stack-about {
    list-style-type: none;
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
    margin-top: 25px;
    padding-left: 0;
    margin-right: 25px; }
    .project-stack-group .project-stack-about li {
      margin-right: 10px;
      margin-top: 10px; }
