.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center; }

.contact-cta-detail {
  width: 500px;
  text-align: center; }

.cta-btn {
  height: 50px;
  width: 120px;
  border: 1px solid #414040;
  color: #414040;
  background: none;
  font-size: 25px;
  border-radius: 3px; }

.contact-footer {
  bottom: 0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-family: "Roboto Mono", monospace;
  font-weight: 400; }
