@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
.projects-slide {
  padding: 0 250px 0 100px;
  display: flex;
  justify-content: center; }

.project-img {
  margin-right: 10px; }
  .project-img img {
    min-width: 400px;
    max-width: 700px; }

.project-img-slide-odd {
  margin-left: 20px;
  margin-right: -40px; }

.project-img-slide-even {
  margin-right: 20px;
  margin-left: -40px; }

.project-info {
  display: flex;
  flex-direction: column; }
  .project-info h3 {
    font-size: 35px; }

.project-info-slide-odd {
  text-align: right; }

.project-info-slide-even {
  text-align: left; }

.project-details-odd {
  background-color: #62706e;
  height: 100px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  text-align: right;
  padding-left: 22px;
  padding-right: 20px;
  -webkit-box-shadow: 5px 5px 29px -4px #000000;
  box-shadow: 5px 5px 29px -4px #000000; }
  .project-details-odd p {
    font-weight: 300; }
  .project-details-odd h3,
  .project-details-odd p {
    color: white; }

.project-details-even {
  background-color: #62706e;
  height: 100px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  text-align: left;
  padding-left: 20px;
  padding-right: 22px;
  -webkit-box-shadow: -1px 8px 29px -4px #000000;
  box-shadow: -1px 8px 29px -4px #000000; }
  .project-details-even p {
    font-weight: 300; }
  .project-details-even h3,
  .project-details-even p {
    color: white; }

.project-stack-odd {
  display: flex;
  list-style-type: none;
  font-family: "Ubuntu", sans-serif;
  flex-direction: row-reverse;
  font-size: 15px;
  margin-top: 25px;
  color: #414040; }
  .project-stack-odd li {
    margin-left: 10px; }

.project-stack-even {
  display: flex;
  list-style-type: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  margin-top: 25px;
  padding-left: 0;
  color: #414040; }
  .project-stack-even li {
    margin-right: 10px; }

.project-links-odd {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 10px; }
  .project-links-odd .fa-github-square {
    font-size: 32px; }

.project-links-even {
  display: flex;
  margin-top: 10px; }
  .project-links-even .fa-github-square {
    font-size: 32px; }

.project-links-btn {
  font-size: 30px;
  color: #414040;
  margin: 10px;
  cursor: pointer; }
