@import url(projects.css);
@import url(about.css);
@import url(contact.css);
@import url(mobile.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
body {
  font-family: "Roboto", sans-serif;
  background-color: #ed944d; }
  body h1,
  body h2,
  body h3,
  body p,
  body a {
    color: #414040; }

.hero-canvas {
  position: fixed;
  top: 0;
  left: 0;
  outline: none; }

.hero {
  display: flex;
  justify-content: center; }

.hero-text {
  z-index: 1;
  position: absolute;
  display: flex;
  gap: 5em;
  position: relative;
  align-items: center; }

.hero-text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #414040;
  transform: scaleX(1); }

#name-h1 {
  font-size: 4rem;
  width: 50vw;
  line-height: 97%;
  text-align: right; }

#name-h1,
#title-h2 {
  flex-basis: 0;
  flex-grow: 1;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); }

#title-h2 {
  font-size: 2rem;
  width: 40vw; }

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
  color: #414040; }

.fp-slidesNav.fp-bottom {
  bottom: 30px;
  text-align: center; }

.fp-controlArrow.fp-prev {
  left: 100px;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent #414040 transparent transparent; }

.fp-controlArrow.fp-next {
  right: 100px;
  color: #414040;
  border-color: transparent transparent transparent #414040; }

.static-social-icons {
  position: absolute;
  bottom: 0;
  left: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  flex-basis: 0;
  flex-grow: 1;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); }

.social-icon {
  -webkit-font-smoothing: antialiased;
  color: #414040;
  font-size: 25px;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-transition: color 2s ease-in-out;
  -moz-transition: color 2s ease-in-out;
  -o-transition: color 2s ease-in-out;
  transition: color 2s ease-in-out;
  transition: transform 0.25s ease; }

.social-icon:hover {
  transform: translate(0, 2px);
  color: #585858; }

.social-line {
  width: 2px;
  height: 90px;
  background-color: #414040; }

@media only screen and (max-width: 1400px) {
  .desktop-container {
    display: none; } }

@media only screen and (min-width: 1400px) {
  .mobile-container {
    display: none; }
  .mobile-static-social-icons {
    display: none; }
  .mobile-static-email-link {
    display: none; } }
