@import url(projects.css);
body {
  font-family: "Roboto", sans-serif; }
  body h1,
  body h2,
  body h3,
  body p {
    color: #414040; }

.hero-canvas {
  position: fixed;
  top: 0;
  left: 0;
  outline: none; }

.hero {
  display: flex;
  justify-content: center; }

.hero-text {
  z-index: 1;
  position: absolute;
  display: flex;
  gap: 5em;
  position: relative;
  align-items: center; }

.hero-text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #414040;
  transform: scaleX(1); }

#name-h1 {
  font-size: 4rem;
  width: 50vw;
  line-height: 97%;
  text-align: right; }

#name-h1,
#title-h2 {
  flex-basis: 0;
  flex-grow: 1;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); }

#title-h2 {
  font-size: 2rem;
  width: 40vw; }

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
  color: #414040; }

.fp-slidesNav.fp-bottom {
  bottom: 30px;
  text-align: center; }

.fp-controlArrow.fp-prev {
  left: 15px;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent #414040 transparent transparent; }

.fp-controlArrow.fp-next {
  right: 100px;
  color: #414040;
  border-color: transparent transparent transparent #414040; }
