body {
  font-family: "Roboto", sans-serif;
  h1,
  h2,
  h3,
  p {
    color: rgb(65, 64, 64);
  }
}

.hero-canvas {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.hero {
  display: flex;
  justify-content: center;
}

.hero-text {
  z-index: 1;
  position: absolute;
  display: flex;
  gap: 5em;
  position: relative;
  align-items: center;
}

.hero-text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid rgb(65, 64, 64);
  transform: scaleX(1);
}

#name-h1 {
  font-size: 4rem;
  width: 50vw;
  line-height: 97%;
  text-align: right;
}

#name-h1,
#title-h2 {
  flex-basis: 0;
  flex-grow: 1;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

#title-h2 {
  font-size: 2rem;
  width: 40vw;
}

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
  color: rgb(65, 64, 64);
}

.fp-slidesNav.fp-bottom {
  bottom: 30px;
  text-align: center;
}

.fp-controlArrow.fp-prev {
  left: 100px;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent rgb(65, 64, 64) transparent transparent;
}

.fp-controlArrow.fp-next {
  right: 100px;
  color: rgb(65, 64, 64);
  border-color: transparent transparent transparent rgb(65, 64, 64);
}

.static-social-icons {
  position: absolute;
  bottom: 0;
  left: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  flex-basis: 0;
  flex-grow: 1;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.social-icon {
  -webkit-font-smoothing: antialiased;
  color: rgb(65, 64, 64);
  font-size: 25px;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-transition: color 2s ease-in-out;
  -moz-transition: color 2s ease-in-out;
  -o-transition: color 2s ease-in-out;
  transition: color 2s ease-in-out;
  transition: transform 0.25s ease;
}

.social-icon:hover {
  transform: translate(0, 2px);
  color: rgb(88, 88, 88);
}

.social-line {
  width: 2px;
  height: 90px;
  background-color: rgb(65, 64, 64);
}

@import url(projects.css);
@import url(about.css);
@import url(contact.css);
